    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Melbourne Status</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/resolved">Resolved events</a>
              </li>

              <li class="">
                <a href="http://www.melbourne.co.uk">Website</a>
              </li>
              <li class="">
                <a href="http://twitter.com/melbournehost">Twitter</a>
              </li>
              <li class="">
                <a href="http://support.melbourne.co.uk">Support</a>

              </li>
              <li class="">
                <a href="./less.html">Login</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="">
                <a href="./download.html">Customize</a>
              </li>

              <li class="">
                <a href="./examples.html">Examples</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

